/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: center; /* Center navigation links */
}

nav ul li {
  display: inline;
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  max-width: 960px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topic-section {
  margin-bottom: 30px;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.topic-section h2 a {
  color: #333;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Language Switcher Styles */
.lang-switcher {
  display: inline-block; /* Make it inline with other nav items */
  margin-left: 2em; /* Add some space from other nav items */
}

.lang-switcher button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  border-radius: 5px;
}

.lang-switcher button.active {
  background-color: #fff;
  color: #333;
}

/* Google Translate Button Styles */
#google_translate_element {
  text-align: center; /* Center the buttons */
  margin-bottom: 20px; /* Add some space below the buttons */
}

#google_translate_element button {
  background-color: transparent;
  color: #333; /* Default text color */
  border: 1px solid #333; /* Default border color */
  padding: 0.5em 1em;
  margin: 0 0.5em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

#google_translate_element button:hover {
  background-color: #333;
  color: #fff;
}

#google_translate_element button.active {
  background-color: #333;
  color: #fff;
}